
<div class="alert alert-dismissible alert-success" style="margin-top: 10px;">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Well done!</strong> reset password link has sent to your email <a href="/user/login" class="alert-link">click to go back</a>.
  </div>